*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(240deg 64% 88%);
}

.main_wrapper {
  --size: 400px;
  background-color: hsl(0deg 40% 40% / 0.2);
  margin: 0 auto;
  width: var(--size);
  height: var(--size);
}

h1 {
  text-align: center;
  padding-top: 32px;
}

.actions {
  display: flex;
  justify-content: space-between;
  background-color: hsl(240deg 17% 42% / 0.6);
  padding: 16px;
  margin-top: 32px;
}

.actions > button {
  padding: 8px 12px;
  border-radius: 9999px;
  border-color: transparent;
  filter: drop-shadow(0px 2px 4px hsl(240deg 17% 42%));
}

.grid_parent {
  --grid-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.grid_child {
  background-color: white;
  flex: 0 0 var(--grid-size);
  height: var(--grid-size);
}

.grid_child_active {
  background-color: black;
}
