*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main_wrapper {
  --size: 400px;
  background-color: hsl(0deg 40% 40% / 0.2);
  margin: 0 auto;
  width: var(--size);
  height: var(--size);
}

.actions {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 16px;
}

.grid_container {
  --grid-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.grid_child {
  background-color: red;
  flex: 0 0 var(--grid-size);
  height: var(--grid-size);
}

.grid_child_active {
  background-color: black;
}
